<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title>Ghodaghodi Campus - Research Department</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/icon" th:href="@{/img/logo-gmc.png}"/> 

 

    <!-- CSS
    ================================================== -->       

    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>   
    <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>    

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{/css/normalize.css}">
	<link rel="stylesheet" href="css/fontawesome-all.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/linearicons.css">
	<link rel="stylesheet" href="css/themify-icons.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" th:href="@{/css/chartist.css}">
	 <link th:href="@{/main.css}" rel="stylesheet">
	 <link rel="stylesheet" th:href="@{/css/color.css}">
	 <link rel="stylesheet" href="css/transitions.css">    
   
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    
    <script src="js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    
	
    

  </head>
<body class="sj-home">
<!--************************************
				Preloader Start
	*************************************-->
	<div class="preloader-outer">
		<div class='loader'>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
		</div>
	</div>
	<!--************************************
				Preloader End
	*************************************-->
<div id="sj-wrapper" class="sj-wrapper">
<div class="sj-contentwrapper">

    <!--=========== BEGIN HEADER SECTION ================-->
    
    
<div th:replace = "/fragments/headerlayout :: newheader"></div>    
    
    
  <!--   =========== END HEADER SECTION ================   -->

   <!--  =========== BEGIN SLIDER SECTION ================ -->
    <div id="sj-homebanner" class="sj-homebanner">
				<div class="container">
					
					<div class="row">
						<div class="col-12 col-sm-12 col-md-6 col-lg-6">							
							<div class="sj-postbook">
								<figure class="sj-featureimg">	
								 	<a class="sj-btnvideo" th:href="@{/viewjournal(jid=${currentissue.getJournalId()}, jiid=${currentissue.Id})}"><i class="lnr lnr-pointer-right"></i><span>View Current Issue</span></a>								
									<div class="sj-bookimg">
										<div class="sj-frontcover">
									       <img th:if="*{coverImage != null}"
												th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(coverImage)}}" />						                    
										</div>								
									</div> 
							</figure>
							</div> 
						</div>
						<div class="col-12 col-sm-12 col-md-6 col-lg-6">
							<div class="sj-bannercontent">
								<h1><span>We Welcome Latest</span>Research Articles in<span>Field of Social Science</span></h1>
								<div class="sj-description">
									<span th:utext="${#strings.abbreviate(page.html,600)}"></span>
                					<span><a th:href="@{/aboutus}" >Read more</a></span>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
     <!--=========== END SLIDER SECTION ================-->

   <main id="sj-main" class="sj-main sj-haslayout sj-sectionspace">
				<div id="sj-twocolumns" class="sj-twocolumns">
					<div class="container">
						<div class="row">
							<div class="col-12 col-sm-12 col-md-8 col-lg-9">
								<div id="sj-content" class="sj-content">
								<!--************************************
										Editor's Pick Start
								*************************************-->
									<section class="sj-haslayout sj-sectioninnerspace">
										<div class="sj-borderheading">
											<h3>Editor’s Pick</h3>
											<a class="sj-btnview" th:href="@{/favarticles}">View All</a>
										</div>
										<div id="sj-editorchoiceslider" class="sj-editorchoiceslider sj-editorschoice owl-carousel owl-loaded owl-drag">											
										<div class="owl-stage-outer">
										<div class="owl-stage" style="transform: translate3d(-1650px, 0px, 0px); transition: all 0.25s ease 0s; width: 5775px;">
										<div class="owl-item cloned" style="width: 825px;">
										<div class="item">
												<article class="sj-post sj-editorchoice" th:each="article : ${favarticles}">
													<!-- <figure class="sj-postimg">
														<img src="img/slider/gmc.jpg" alt="image description">
													</figure>
													Image is not available for now. Can be added later in future versions
													 -->
													<div class="sj-postcontent">
														<div class="sj-head">
															<span class="sj-username"><a href="javascript:void(0);" th:text="${article.authorName}"></a></span>
															<h3><a href="javascript:void(0);" th:text="${article.topic}"></a></h3>
															<span th:text="${article.getPublishInfo()}"></span>
															<i class="fa fa-eye" aria-hidden="true"> <strong th:text="${article.viewCount}"></strong></i>
															
														</div>
														<div class="sj-description">
															<span th:utext="${#strings.abbreviate(article.articleAbstract,400)}"></span>                											
														</div>
														<a class="sj-btn" th:href="@{/viewarticle(aid=${article.articleId})}">View Full Article</a>
														<a class="sj-btn" th:href="@{/download(type='article',file=${article.fileName})}">Download Article</a>
													</div>
												</article>
																								
										</div>
										</div>
										</div>
										</div>
										<div class="sj-slidernav">
										<div class="sj-prev"><span class="fa fa-angle-left"></span></div>
										<div class="sj-next"><span class="fa fa-angle-right"></span></div>
										</div>
										<div class="sj-sliderdots disabled"></div>
										</div>
									</section>
								<!--************************************
										Editor's Pick End
								*************************************-->
								
								<!--************************************
										Previous Posts Start
								*************************************-->
									
								
								<section class="sj-haslayout sj-sectioninnerspace">
										<div class="sj-borderheading">
											<h3>Previous Issues</h3>
											<a class="sj-btnview" th:href="@{/allissues}">View All</a>
										</div>
										<div id="sj-upcomingbooksslider" class="sj-upcomingbooksslider sj-upcomingbooks owl-carousel owl-loaded owl-drag">											
											
										<div class="owl-stage-outer">
										<div class="owl-stage" style="transform: translate3d(-1690px, 0px, 0px); transition: all 0.25s ease 0s; width: 3211px;">
											<th:block th:each="issue, issueStat: ${issues}">
											 <th:block th:if="${issueStat.index <= 5}">
											<div class="owl-item active" style="width: 149px; margin-right: 20px;">
											<div class="item">
												<div class="sj-upcomingbook">
													<figure class="sj-upcomingbookimg">
														<img th:if="*{coverimages.get(issue.journalIssueId) != null}"
															 th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(coverimages.get(issue.journalIssueId))}}"
															/>
													</figure>
													<div class="sj-postcontent">
														<h3><a th:href="@{/viewjournal(jid=${issue.journalId}, jiid=${issue.journalIssueId})}" 
															   th:text="${issue.month+' '+issue.year+', Vol-'+issue.VolumeNum+', Issue-'+issue.IssueNum}"></a>
														</h3>
														<p class="singCourse_price">Published Date: <span th:text="${issue.publishDate}"></span></p>
													</div>
												</div>
											</div>
											</div>
											</th:block>
											<th:block th:if="${issueStat.index > 5}">
											<div class="owl-item" style="width: 149px; margin-right: 20px;">
											<div class="item">
												<div class="sj-upcomingbook">
													<figure class="sj-upcomingbookimg">
														<img th:if="*{coverimages.get(issue.journalIssueId) != null}"
															 th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(coverimages.get(issue.journalIssueId))}}"
															/>
													</figure>
													<div class="sj-postcontent">
														<h3><a th:href="@{/viewjournal(jid=${issue.journalId}, jiid=${issue.journalIssueId})}" 
															   th:text="${issue.month+' '+issue.year+', Vol-'+issue.VolumeNum+', Issue-'+issue.IssueNum}"></a>
														</h3>
                    									<p>Published Date: <span th:text="${issue.publishDate}"></span></p>
													</div>
												</div>
											</div></div>
											</th:block>
											</th:block>
											</div></div>
											<div class="sj-slidernav">
												<div class="sj-prev"><span class="fa fa-angle-left"></span></div>
												<div class="sj-next"><span class="fa fa-angle-right"></span></div>
											</div>
											<div class="sj-sliderdots disabled"></div>
											</div>
									</section>
									<!--************************************
										Previous Posts End
								*************************************-->
								
								</div>
							</div>
							<div class="col-12 col-sm-12 col-md-4 col-lg-3">
								<aside id="sj-sidebar" class="sj-sidebar">
									<div class="sj-widget sj-widgetsearch">
										<div class="sj-widgetcontent">
											<form class="sj-formtheme sj-formsearch">
												<fieldset>
													<input type="search" name="search" class="form-control" placeholder="Search here">
													<button type="submit" class="sj-btnsearch"><i class="lnr lnr-magnifier"></i></button>
												</fieldset>
											</form>
										</div>
									</div>
									
									<div class="sj-widget sj-widgetnoticeboard">
										<div class="sj-widgetheading">
											<h3>Announcements
											<span class="float-right"><a class="sj-btnview" th:href="@{/announcements}">View All</a></span>
											</h3>
										</div>
										<div class="sj-widgetcontent">
											<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
											  <div class="carousel-inner">
											  	<th:block th:each="announcement, announcementStat : ${announcements}">
											  	
											  	<th:block th:if="${announcementStat.index==1}">
											    <div class="carousel-item active">									      
											      
												  <div class="card">
													  <div class="card-header" th:text="${announcement.getAnnouncementTypeString()}">
													    
													  </div>
													  <div class="card-body">
													    <h5 class="card-title" th:text="${announcement.title}"></h5>
													    <time class="card-subtitle mb-2 text-muted"  th:datetime="${#dates.format(announcement.creationDate, 'yyyy-MM-dd')}" th:text="${T(com.example.projectx.utils.DateTimeUtils).getPrettyDate(announcement.creationDate)}"></time>
													    
													    <p class="card-text" th:text="${announcement.shortDescription}"></p>
													    <a th:href="@{/announcement(id=${announcement.Id})}" class="card-link">..Read More</a>
													    
													  </div>
													</div>
											    </div>
											    </th:block>
											    <th:block th:if="${announcementStat.index != 1}">
											    <div class="carousel-item">											      
											      <div class="card">
											      	  <div class="card-header" th:text="${announcement.getAnnouncementTypeString()}">
													    
													  </div>
													  <div class="card-body">
													    <h5 class="card-title" th:text="${announcement.title}"></h5>
													    <time class="card-subtitle mb-2 text-muted"  th:datetime="${#dates.format(announcement.creationDate, 'yyyy-MM-dd')}" th:text="${T(com.example.projectx.utils.DateTimeUtils).getPrettyDate(announcement.creationDate)}"></time>
													    
													    <p class="card-text" th:text="${announcement.shortDescription}"></p>
													    <a th:href="@{/announcement(id=${announcement.Id})}" class="card-link">..Read More</a>
													    
													  </div>
													</div>
											    </div>
											    </th:block>											    
											    </th:block>
											  </div>
											</div>
										</div>
									</div>
									<div class="sj-widget sj-widgetnoticeboard">
										<div class="sj-widgetheading">
											<h3>Notices
												<span class="float-right"><a class="sj-btnview" th:href="@{/listnotices}">View All</a></span>
											</h3>
																						
										</div>
										<div class="sj-widgetcontent">
											<ul>
												<li th:each="notice : ${notices}"><a th:href="@{/notices(id=${notice.Id})}"><span th:utext="${notice.NoticeTitle}"></span></a></li>
												
											</ul>
										</div>
									</div>			
									
								</aside>
							</div>
						</div>
					</div>
				</div>
			</main>

       
    <!--=========== BEGIN FOOTER SECTION ================-->
    
    
<div th:replace = "/fragments/headerlayout :: footer"></div>
    
    <!--=========== END FOOTER SECTION ================--> 
</div>
</div>
  

    <!-- Javascript Files
    ================================================== -->
<script src="js/jquery-3.3.1.js"></script>
<script src="js/jquery-library.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/circle-progress.js"></script>
<script src="js/scrollbar.min.js"></script>
<script src="js/chartist.min.js"></script>
<script src="js/countdown.js"></script>
<script src="js/appear.js"></script>
<script src="main.js"></script>    

  </body>
  

</html>