<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title>Reviewer Profile - Ghodaghodi Campus - Research Department</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/icon" th:href="@{/img/logo-gmc.png}"/> 

 

    <!-- CSS
    ================================================== -->       

    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>   
    <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>    

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{/css/normalize.css}">
	<link rel="stylesheet" href="css/fontawesome-all.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/linearicons.css">
	<link rel="stylesheet" href="css/themify-icons.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" th:href="@{/css/chartist.css}">
	 <link th:href="@{/main.css}" rel="stylesheet">
	 <link rel="stylesheet" th:href="@{/css/color.css}">
	 <link rel="stylesheet" href="css/transitions.css">    
   
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <link th:href="@{/css/pagination.css}" rel="stylesheet" type="text/css">
    
    <script src="js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    
	
    

  </head>
<body class="sj-home">
<!--************************************
				Preloader Start
	*************************************-->
	<div class="preloader-outer">
		<div class='loader'>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
		</div>
	</div>
	<!--************************************
				Preloader End
	*************************************-->
<div id="sj-wrapper" class="sj-wrapper">
<div class="sj-contentwrapper">

    <!--=========== BEGIN HEADER SECTION ================-->
    
    
<div th:replace = "/fragments/headerlayout :: newheader"></div>    
    
    
  <!--   =========== END HEADER SECTION ================   -->

   <!--  =========== BEGIN SLIDER SECTION ================ -->
   <div class="sj-innerbanner">
				<div class="container">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12">
							<div class="sj-innerbannercontent">
								<h1>Reviewer Profile</h1>
								<ol class="sj-breadcrumb">
									<li><a th:href="@{/}">Home</a></li>
									<li><a th:href="@{/editorboard}">All Reviewers</a></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
   <!--=========== END SLIDER SECTION ================-->

   <main id="sj-main" class="sj-main sj-haslayout sj-sectionspace">
				<div id="sj-twocolumns" class="sj-twocolumns">
					<div class="container">
						<div id="sj-content" class="sj-content">
							<section class="sj-haslayout sj-sectioninnerspace">
										<div class="sj-borderheading">
											<h3>All Reviewers</h3>											
										</div>
																			
										<!-- <th:block th:each="issue, issueStat: ${exeditors}" > -->	
										<div id="page-items">
										<th:block th:each="i : ${#numbers.sequence( 1, rows)}">
											<div class="row mb-3">
											<th:block th:each="j : ${#numbers.sequence( 1, cols)}">
												<div class="col col-md-3">
												<div class="card w-100"  style="width: 18rem; margin-bottom: 20px;" th:with="index=${(i-1)*cols+j}" th:if="${index <= exeditors.size()}">
													<img th:if="*{profiles.get(exeditors.get(index-1).userName) != null}"
														 th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(profiles.get(exeditors.get(index-1).userName))}}"
													/>
													
												  	<div class="card-body">
												  		<h5 class="card-title" th:text="${exeditors.get(index-1).fullName}"></h5>
												  		<h5 class="card-subtitle mb-2 text-muted" th:text="${'Affiliation: '+exeditors.get(index-1).affiliation}"></h5>	
												  		<p class="card-text"> Executive Editor </p>
												  		
												  		<a class="card-link" th:href="@{/viewreviewer(type=1,editor=${exeditors.get(index-1).userName})}" ><span>View Reviewer Detail</span></a>											  		
													</div>															
														
													</div>
													
													
													</div>
												</th:block>
												</div>
												</th:block>
												<!-- Board editors -->
												<th:block th:each="i : ${#numbers.sequence( 1, rows_b)}">
												<div class="row mb-3">
												<th:block th:each="j : ${#numbers.sequence( 1, cols_b)}">
													<div class="col col-md-3">
													<div class="card w-100" style="width: 18rem; margin-bottom: 20px; border-radius: 10px" th:with="index=${(i-1)*cols+j}" th:if="${index <= boardeditors.size()}">
														
																<img style="border-radius: 10px" th:if="*{boardprofiles.get(boardeditors.get(index-1).id) != null}"
																	 th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(boardprofiles.get(boardeditors.get(index-1).id))}}"
																/>
																												
														
													  	<div class="card-body">
													  		<h5 class="card-title" th:text="${boardeditors.get(index-1).fullName}"></h5>
													  		<h5 class="card-subtitle mb-2 text-muted" th:text="${'Affiliation: '+boardeditors.get(index-1).affiliation}"></h5>	
													  		<p class="card-text"> Editorial Board Member </p>
													  		
													  		<a class="card-link" th:href="@{/viewreviewer(type=2,editor=${boardeditors.get(index-1).id})}" ><span>View Reviewer Detail</span></a>											  		
														</div>									
															
														</div>														
														
														</div>
														
													</th:block>
													</div>												
													
												</th:block>
												<!-- End Board editors -->
												</div>
												<nav id="pagination" class="mt-3 float-right">
											
												</nav>
											
									</section>		
						</div>
					</div>
				</div>
			</main>

       
    <!--=========== BEGIN FOOTER SECTION ================-->
    
    
<div th:replace = "/fragments/headerlayout :: footer"></div>
    
    <!--=========== END FOOTER SECTION ================--> 
</div>
</div>


  

    <!-- Javascript Files
    ================================================== -->
<script src="js/jquery-3.3.1.js"></script>
<script src="js/jquery-library.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/circle-progress.js"></script>
<script src="js/scrollbar.min.js"></script>
<script src="js/chartist.min.js"></script>
<script src="js/countdown.js"></script>
<script src="js/appear.js"></script>
<script src="main.js"></script>    
<script th:src="@{/js/pagination.min.js}" type="text/javascript"></script>

	<script>
	/**
	 * For pagination on All Issues page
	 */
	var optionTexts = [];
	
	
	
	$('#page-items > div.row').each(function() {
		optionTexts.push($(this))
	});
	
	if(optionTexts.length > 0)
	{
		$('#pagination').pagination({
		    dataSource: optionTexts,
		    pageSize: 2,
		    autoHidePrevious: true,
		    autoHideNext: true,
		    hideWhenLessThanOnePage: true,
		    
		    className: 'paginationjs-theme-blue',
		    
		    
		    callback: function(data, pagination) {
		        
		    	$('#page-items').html(data);
		    }
		});
	}
	
	
</script>

</body>
  

</html>