<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title>Ghodaghodi Campus - Research Department</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/icon" th:href="@{/img/logo-gmc.png}"/> 

 

    <!-- CSS
    ================================================== -->       

    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>   
    <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>    

	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/normalize.css}">
	<link rel="stylesheet" th:href="@{/css/fontawesome-all.css}">
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/linearicons.css}">
	<link rel="stylesheet" th:href="@{/css/themify-icons.css}">
	<link rel="stylesheet" th:href="@{/css/scrollbar.css}">
	<link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
	<link rel="stylesheet" th:href="@{/css/chartist.css}">
	 <link th:href="@{/main.css}" rel="stylesheet">
	 <link rel="stylesheet" th:href="@{/css/dashboard.css}">
	 <link rel="stylesheet" th:href="@{/css/color.css}">
	 <link rel="stylesheet" th:href="@{/css/transitions.css}">    
   
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    
    <!-- Latest compiled and minified CSS -->
<link defer rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta/dist/css/bootstrap-select.min.css">



    
    
    <script th:src="@{/js/modernizr-2.8.3-respond-1.4.2.min.js}"></script>
    
    <script type="text/javascript" th:src="@{/ckeditor/ckeditor.js}"></script>
    
	
    

  </head>
<body class="sj-home">
<!--************************************
				Preloader Start
	*************************************-->
	<div class="preloader-outer">
		<div class='loader'>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
		</div>
	</div>
	<!--************************************
				Preloader End
	*************************************-->
<div id="sj-wrapper" class="sj-wrapper">
<div class="sj-contentwrapper">

    <!--=========== BEGIN HEADER SECTION ================-->
    
    
<div th:replace = "/fragments/headerlayout :: newheader"></div>    
    
    
  <!--   =========== END HEADER SECTION ================-->
  
  <div class="sj-innerbanner">
				<div class="container">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12">
							<div class="sj-innerbannercontent">
								<h1>Admin Dashboard</h1>
								<ol class="sj-breadcrumb">
									<li><a href="javascript:void(0);">Home</a></li>
									<li><a href="javascript:void(0);">Add User</a></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
</div>

<main id="sj-main" class="sj-main sj-haslayout sj-sectionspace">
				<div class="container">
					<div class="row">
						<div id="sj-twocolumns" class="sj-twocolumns">
						<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-3 float-left">
								<div th:replace = "/fragments/headerlayout :: adminsidebar"></div>
							</div>
							<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-9 float-right">
								
								<div id="sj-content" class="sj-content sj-addarticleholdcontent">
									<div class="sj-dashboardboxtitle">
										<h2>Add User</h2>
										
									</div>
									<div class="sj-addarticlehold">
										
										<p class="alert alert-danger" th:if="${errormessage}" th:text="${errormessage}" />
										<form th:object="${userForm}" method="POST" th:action="@{/admin/user/add-user}"  class="form-horizontal" enctype="multipart/form-data" >
							                <h6 class="heading-small text-muted mb-4">User information</h6>
							                
							                <div class="pl-lg-4">
							                  <div class="row">
							                    <div class="col-lg-4">
							                      <div class="form-group focused">
							                        <label class="form-control-label" for="input-username">Salutation</label>
							                        <select th:field="*{title}" class="form-control" id="title" name="title" placeholder="Select Salutation" required="required" >													    
													    <option th:each="title1 : ${titles}" th:value="${title1.title}" th:text="${title1.title}" ></option>
													    </select>
													    <p class="alert alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}" />
							                      </div>
							                    </div>
							                    <div class="col-lg-4">
							                      <div class="form-group">
							                        <label class="form-control-label" for="fullName">Full Name <span style="color:red">*</span></label>
													<input th:field="*{fullName}" id="fullName" class="form-control form-control-alternative" placeholder="Please enter full name"  required />
													<p class="alert alert-danger" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" />
							                      </div>
							                    </div>
							                    <div class="col-lg-4">
							                  		<div class="form-group">
							                  			<label class="control-label" for="qualification">Highest Educational Degree</label>
															<select th:field="*{qualification}" class="form-control form-control-alternative" id="qualification" name="qualification" placeholder="Select Educational Degree">
															    <option th:each="q : ${qualifications}" th:value="${q.qualification}" th:text="${q.qualification}" ></option>
														    </select>
															<p class="alert alert-danger" th:if="${#fields.hasErrors('qualification')}" th:errors="*{qualification}" />
							                  		</div>
							                  	</div>
							                  </div>					                  
							                  </div>
							                <hr class="my-4">
							                <!-- Address -->
							                <h6 class="heading-small text-muted mb-4">Contact information</h6>
							                <div class="pl-lg-4">
							                  <div class="row">
							                    <div class="col-lg-8">
							                      <div class="form-group focused">
							                        <label class="form-control-label" for="address">Address</label>
							                        <input th:field="*{address1}"  id="address1" class="form-control form-control-alternative" placeholder="Please enter Home Address" type="text" />
							                        <p class="alert alert-danger" th:if="${#fields.hasErrors('address1')}" th:errors="*{address1}" />
							                      </div>
							                    </div>
							                    <div class="col-lg-4">
							                      <div class="form-group focused">
							                        <label class="form-control-label" for="phone">Phone</label>
							                        <input th:field="*{phone}"  id="phone" class="form-control form-control-alternative" placeholder="Please enter Phone" type="text" />
							                        <p class="alert alert-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" />
							                      </div>
							                    </div>
							                  </div>
							                  <div class="row">
							                    <div class="col-lg-4">
							                      <div class="form-group focused">
							                        <label class="form-control-label" for="input-city">City</label>
							                        <input type="text" th:field="*{city}" id="city" class="form-control form-control-alternative" placeholder="Please enter City" />
							                        <p class="alert alert-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}" />
							                      </div>
							                    </div>
							                    <div class="col-lg-4">
							                      <div class="form-group focused">
							                        <label class="form-control-label" for="state">State</label>
							                        <input type="text" th:field="*{state}" id="state" class="form-control form-control-alternative" placeholder="Please enter state" />
							                        <p class="alert alert-danger" th:if="${#fields.hasErrors('state')}" th:errors="*{state}" />
							                      </div>
							                    </div>
							                    <div class="col-lg-4">
							                      <div class="form-group">
							                        <label class="form-control-label" for="country">Country</label>
							                        <input type="text" th:field="*{country}" id="country"class="form-control form-control-alternative" placeholder="Please enter Country" />
							                        <p class="alert alert-danger" th:if="${#fields.hasErrors('country')}" th:errors="*{country}">
							                      </div>
							                    </div>
							                  </div>
							                  
							                  </div>
							                  <!-- Email part ------>
							                 <hr class="my-4">
							                <!-- Address -->
							                <h6 class="heading-small text-muted mb-4">Login Information</h6>
							                  <div class="row">
							                    <div class="col-lg-4">
							                      <div class="form-group focused">
							                        <label class="form-control-label" for="email">Email</label>
							                        <input type="email" th:field="*{email}" id="email" class="form-control form-control-alternative" placeholder="Please enter Email*" />
							                        <p class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" />
							                      </div>
							                    </div>
							                    <div class="col-lg-4">
							                      <div class="form-group focused">
							                        <label class="form-control-label" for="confirmEmail">Confirm Email</label>
							                        <input type="email" th:field="*{confirmEmail}" id="confirmEmail" class="form-control form-control-alternative" placeholder="Please retype Email*" />
							                        <p class="alert alert-danger" th:if="${#fields.hasErrors('confirmEmail')}" th:errors="*{confirmEmail}" />
							                      </div>
							                    </div>
							                    <div class="col-lg-4">
							                    <div class="form-group focused">
													<label class="form-control-label" for="role">Role</label>
													<select th:field="*{role}" class="form-control" id="role" name="role" required="required">
												    <option value="0">Select Role</option>
												    <option th:each="role : ${roles}" th:value="${role.role}" th:text="${role.role}" ></option>
												    </select>
												</div>
												</div>							                    
							                  </div>
							                 
							                
							                <div class="row">
							                	<div class="col-lg-4">
							                      <div class="form-group focused">
							                        <label class="form-control-label" for="input-city">Username</label>
							                        <input type="text" th:field="*{userName}" id="username" class="form-control form-control-alternative" placeholder="Please enter username" />
							                        <p class="alert alert-danger" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" />
							                      </div>
							                    </div>
							                    <div class="col-lg-4">
							                      <div class="form-group focused">
							                        <label class="form-control-label" for="state">Password</label>
							                        <input th:field="*{password}" type="password" id="password" class="form-control form-control-alternative" placeholder="Please enter password" />
							                        <p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" />
							                      </div>
							                    </div>
							                    <div class="col-lg-4">
							                      <div class="form-group">
							                        <label class="form-control-label" for="country">Repeat Password</label>
							                        <input type="password" th:field="*{confirmpassword}" id="confirmpassword"class="form-control form-control-alternative" placeholder="Please enter password" />
							                        <p class="alert alert-danger" th:if="${#fields.hasErrors('confirmpassword')}" th:errors="*{confirmpassword}">
							                      </div>
							                    </div>
							                </div>
							                
							                <div>
												
												<button type="submit" class="sj-btn sj-btnactive">Submit</button>	
												<a th:href="@{/admin/user}" class="sj-btncancel">Cancel</a>										
											</div>
              							</form>
									</div>
								</div>
							
							</div>
						</div>
					</div>
				</div>
			</main>

  <!--=========== BEGIN FOOTER SECTION ================-->
    
    
<div th:replace = "/fragments/headerlayout :: footer"></div>
    
    <!--=========== END FOOTER SECTION ================--> 
</div>
</div>


  

    <!-- Javascript Files
    ================================================== -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
<script th:src="@{/js/jquery-3.3.1.js}"></script>
<script th:src="@{/js/jquery-library.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/circle-progress.js}"></script>
<script th:src="@{/js/scrollbar.min.js}"></script>
<script th:src="@{/js/chartist.min.js}"></script>
<script th:src="@{/js/countdown.js}"></script>
<script th:src="@{/js/appear.js}"></script>
<script th:src="@{/main.js}"></script>

<!-- Latest compiled and minified JavaScript -->
<script defer src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta/dist/js/bootstrap-select.min.js"></script>    

  </body>
  

</html>