<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta>
<title>Add Notice - Ghodaghodi multiple campus  - Research Journal</title>

  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ghodaghodi multiple campus Sukkhad, Kailai - Research Journal">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


 <link th:href="@{/adminstatic/css/admin.css}" rel="stylesheet">
 <script th:src="@{/adminstatic/js/admin.js}"></script>
 <script type="text/javascript" th:src="@{/ckeditor/ckeditor.js}"></script>

</head>

<body>
<div th:replace="fragments/headerlayout :: header"></div>
<div class="page-wrapper chiller-theme toggled">
 <div th:replace = "admin/adminpage :: sidebar"></div>
 <main class="page-content">
    <div class="container-fluid">
      <hr>
      
       	<section class="section" style = "margin-top: 51px">
		<div class="container">
			<h1 class="title">Notice Form</h1>
			
		</div>
	</section>
      
      <!-- start of main body -->
     <div class="container">
		<div class="columns">
			<div class="column is-full">
				<div class="box">
					<form th:object="${notice}"  method="post" > 
						
						<div class="form-group">
							<label class="label is-small">notice  number</label>
							<div class="control">
								<input th:field="*{NoticeNumber}" class="input is-small" />
							</div>
						</div>
						<div class="form-group">
							<label class="label is-small">Notice Title</label>
							<div class="col-sm-10">
								<input th:field="*{NoticeTitle}" class="input is-small" />
							</div>
						</div>
						<div class="form-group">
						<label class="label is-small">Notice Text</label>
			     		 <textarea cols="10" rows="5" id="contents" name="contents" th:field="*{noticeText}">  
			      		 </textarea>
					      <script type="text/javascript">
					        CKEDITOR.replace('contents' );
					      </script>
					    </div>
						
						
						
						<div class="field is-grouped">
							<div class="col-sm-10">
								<button class="button is-success is-small">Submit</button>
							</div>
							<div class="col-sm-10">
								<a th:href="@{/admin/notices}" class="button is-danger is-small">Cancel</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
      <!-- end of main body -->
      
</div>
  </main>
</div>
</body>
</html> 