<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title>Ghodaghodi Campus - Research Department</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/icon" th:href="@{/img/logo-gmc.png}"/> 

 

    <!-- CSS
    ================================================== -->       

    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>   
    <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>    

	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/normalize.css}">
	<link rel="stylesheet" th:href="@{/css/fontawesome-all.css}">
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/linearicons.css}">
	<link rel="stylesheet" th:href="@{/css/themify-icons.css}">
	<link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
	<link rel="stylesheet" th:href="@{/css/chartist.css}">
	 <link th:href="@{/main.css}" rel="stylesheet">
	 <link rel="stylesheet" th:href="@{/css/color.css}">
	 <link rel="stylesheet" th:href="@{/css/transitions.css}">    
   
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    
    <!-- Latest compiled and minified CSS -->
<link defer rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta/dist/css/bootstrap-select.min.css">



    
    
    <script th:src="@{/js/modernizr-2.8.3-respond-1.4.2.min.js}"></script>
    
    <script type="text/javascript" th:src="@{/ckeditor/ckeditor.js}"></script>
    
	
    

  </head>
<body class="sj-home">
<!--************************************
				Preloader Start
	*************************************-->
	<div class="preloader-outer">
		<div class='loader'>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
		</div>
	</div>
	<!--************************************
				Preloader End
	*************************************-->
<div id="sj-wrapper" class="sj-wrapper">
<div class="sj-contentwrapper">

    <!--=========== BEGIN HEADER SECTION ================-->
    
    
<div th:replace = "/fragments/headerlayout :: newheader"></div>    
    
    
  <!--   =========== END HEADER SECTION ================-->
  <div class="sj-innerbanner">
				<div class="container">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12">
							<div class="sj-innerbannercontent">
								<h1>Submit Your Article</h1>
								<ol class="sj-breadcrumb">
									<li><a th:href="@{/}">Home</a></li>
									<li><a href="javascript:void(0);">Submit Your Aticle</a></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
	<main id="sj-main" class="sj-main sj-haslayout sj-sectionspace">
				<div class="container">
					<div class="row">
						<div id="sj-twocolumns" class="sj-twocolumns">
							<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 float-right">
								<div id="sj-content" class="sj-content sj-addarticleholdcontent">
									<div class="sj-dashboardboxtitle">
										<h2>Add A New Article</h2>
									</div>
									<div class="sj-addarticlehold">
										<form class="sj-formtheme sj-formarticle" th:object="${articleUploadForm}" th:action="@{/author/submitarticle}"
										method="post" enctype="multipart/form-data">
											<fieldset>
												<div class="form-group">
													<input th:field="*{topic}" type="text" id="topic" name="topic" class="form-control" placeholder="Title of Article *">
													<p class="alert alert-danger" th:if="${#fields.hasErrors('topic')}" th:errors="*{topic}">
												</div>
												<div class="form-group">
													
														<select th:field = "*{categories}" class="selectpicker form-control" multiple data-live-search="true" title="Choose at least one category.." style="background: #fff; color: #fff;">
															
															<option th:each = "cat : ${cats}" th:value="${cat.Id}" th:text="${cat.category}"></option>
															
														</select>
														<p class="alert alert-danger" th:if="${#fields.hasErrors('categories')}" th:errors="*{categories}">
												</div>
												
												<div class="form-group">
													<input th:field="*{otherauthors}" type="text" name="otherauthors" class="form-control" placeholder="Other Authors">
												</div>
												<div class="form-group">
													
													<textarea th:field="*{articleAbstract}" cols="20" rows="10"	name="articleAbstract" id="articleAbstract" placeholder="Add Your Abstract"> </textarea>
		      										<script type="text/javascript">
														CKEDITOR.replace('articleAbstract');
													</script>
													<p class="alert alert-danger" th:if="${#fields.hasErrors('articleAbstract')}" th:errors="*{articleAbstract}">
												</div>												
												<div class="sj-inputtyfile">
													<div class="sj-title">
														<h3>Upload Article in Microsoft word format</h3>
														<p class="alert alert-danger" th:if="${#fields.hasErrors('fileData')}" th:errors="*{fileData}">
													</div>
													<div class="form-group">
														
														<input th:field="*{fileData}" type="file" name="file"
															value="file" id="file" accept=".doc,.docx, application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword">
													</div>
													<div class="sj-filedetails">
														<span>File should be max 500kb </span>
														<em>Not Uploaded Yet</em>
													</div>
												</div>
												
											</fieldset>
											<div>
											<span>I accept all the submitting article’s 
											<a href="javascript:void(0);">Terms &amp; Conditions</a></span>
											<button type="submit" class="sj-btn sj-btnactive" style="float:right">Submit Now</button>
											
										</div>
										</form>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 float-left">
								<aside id="sj-sidebarvtwo" class="sj-sidebar">
									<div class="sj-profilestrenght">
										<div class="sj-headerhold">
											<div class="sj-dashboardboxtitle">
												<h2>Article Submission Guidelines</h2>												
											</div>											
										</div>
										<ul class="sj-profilecomplete">
											<li class="sj-profilecompleted"><span>Enter the title of your article</span></li>
											<li class="sj-profilecompleted"><span>Select at least one category or subject area of your article from the dropdown list. You can choose more than one category from the list.</span></li>
											<li class="sj-profilecompleted"><span>If there are other contributers of this article, enter full name of them in "Other Authors" text box. If there are more than one names, separate each name by a comma.</span></li>
											<li class="sj-profilecompleted"><span>Add the abstract of your article in the editor. You can use the formatting features.</span></li>
											<li class="sj-profilecompleted"><span>Upload the article file in microsoft word format. Maximum size of your article should not exceed 5 MB.</span></li>
										</ul>
										<div class="sj-submitdetails">
											<a th:href="@{/guidelines}" target="_blank">See formatting and ethical guidelines.</a> 											
										</div>
									</div>
								</aside>
							</div>
						</div>
					</div>
				</div>
			</main>
  <!--=========== BEGIN FOOTER SECTION ================-->
    
    
<div th:replace = "/fragments/headerlayout :: footer"></div>
    
    <!--=========== END FOOTER SECTION ================--> 
</div>
</div>
  

    <!-- Javascript Files
    ================================================== -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
<script th:src="@{/js/jquery-3.3.1.js}"></script>
<script th:src="@{/js/jquery-library.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/circle-progress.js}"></script>
<script th:src="@{/js/scrollbar.min.js}"></script>
<script th:src="@{/js/chartist.min.js}"></script>
<script th:src="@{/js/countdown.js}"></script>
<script th:src="@{/js/appear.js}"></script>
<script th:src="@{/main.js}"></script>

<!-- Latest compiled and minified JavaScript -->
<script defer src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta/dist/js/bootstrap-select.min.js"></script>    

  </body>
  

</html>