<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ghodaghodi multiple campus Sukkhad, Kailai - Research Journal">
    <title>Add Profile Picture</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link th:href="@{/adminstatic/css/admin.css}" rel="stylesheet">
	<script th:src="@{/adminstatic/js/admin.js}"></script>

</head>

<body>
<div th:replace="fragments/headerlayout :: header"></div>
<div class="page-wrapper chiller-theme toggled">

<div th:replace = "/editor/editorpage :: sidebar"></div>
 
  <main class="page-content">
    <div class="container-fluid">
      <hr>
       <div class = "row">
      <div class="container">
			<h4 class="title">Update Profile Picture</h4>
		</div>
      
      </div> 
      
      <!-- start of main body -->
      <div class="container">
		<div class="columns">
			<div class="column is-full">
				<div class="box">
			<form th:action="@{/editor/add-profile}" method="post" enctype="multipart/form-data">
				 	<input th:value="${id}" name="id" id="id" type=hidden>
		           <input type="file" name="file" value="file" id="file">
		             <button class="au-btn au-btn-icon au-btn--blue">
		              <i class="zmdi zmdi-plus"></i>Submit</button>
		     </form>
				</div>
				
			</div>
		</div>
	</div>
      <!-- end of main body -->
    </div>  

  </main>
  <!-- page-content" -->
</div>
<!-- page-wrapper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    
</body>

</html>