<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>

<div th:fragment = "resultsList">
<p th:if="${message != null}" th:text="${message}" style="color:red">
<div  th:unless="${#lists.isEmpty(journalissues)}" id="results-block">
 	<table th:if="*{journalissues != null}" class="table content is-small is-bordered is-striped is-narrow is-hoverable is-fullwidth">
					<thead>
						<tr>
							<th>Journal Title</th>
							<th>Volume#</th>
							<th>Issue#</th>
							<th>Year</th>
							<th>Month</th>
							<th>Cover Page</th>
							
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="jissue : ${journalissues}">

							<td th:text="${journal.JournalTopic}"></td>
							<td th:text="${jissue.volume}"></td>
							<td th:text="${jissue.issue}"></td>
							<td th:text="${jissue.year}"></td>
							<td th:text="${jissue.month}"></td>
							<td th:if="*{coverimages != null}">								
								<img th:if="*{coverimages.get(journal.Id) != null}"  th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(coverimages.get(journal.Id))}}" width="100" height="200"/>
							</td>
							
							<td>								
								<a th:href=@{/editor/publish(jid=${jissue.journalId})} class="button is-danger is-small">Publish</a>
							</td>
								 

						</tr>
					</tbody> 
				</table>
</div>
</div>
</body>
</html> 