<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta>
<title>Prepare Journal</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Ghodaghodi multiple campus Sukkhad, Kailai - Research Journal">
   	
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
	rel="stylesheet">
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link th:href="@{/adminstatic/css/admin.css}" rel="stylesheet">
<script th:src="@{/adminstatic/js/admin.js}"></script>



</head>

<body>
<div th:replace="fragments/headerlayout :: header"></div>
	<div class="page-wrapper chiller-theme toggled">
		<div th:replace="/editor/editorpage :: sidebar"></div>
		<main class="page-content">
		<div class="container-fluid">
			<hr>

			<section class="section"  style = "margin-top: 51px">
				<div class="container">
					<h4 class="title">Prepare Journal</h4>

				</div>
			</section>

			<!-- start of main body -->
			<div class="container">
				<span th:if="*{message != null}" th:text="${message}" style="color:red;"></span>
				<form th:if="*{journals != null}" th:action="@{/editor/preparejournal}" method="POST" enctype="multipart/form-data">
				    <div class="form-group">
							<select class="form-control" id="journalId" name="journalId" required="required" onchange="retrieveJournalIssues()">
						    <option value="0">Select Journal</option>
						    <option th:each="journal : ${journals}" th:value="${journal.Id}" th:text="${journal.JournalTopic}"></option>
						    </select>
						</div>
						
						<div class="form-group">
							<select class="form-control" id="jissueid" name="jissueid" required="required" onchange="retrieveArticles()">
						    
						    
						    </select>
						</div>				    
				
				        <!-- Results block -->
				        <div id="resultsBlock">
				
				        </div>				    
				    <div class="form-group">
							<label class="label is-small">Editorial Page:</label>
							<div class="col-sm-10">
								<input type="file" name="editorial" value="file" id="editorial">
							</div>
						</div>
								    
		             <div class="field is-grouped">
							<div class="col-sm-10">
								<button class="button is-success is-small">Prepare Journal</button>
							</div>
							<div class="col-sm-10">
								<a th:href="@{/editor/viewjournals}" class="button is-danger is-small">Cancel</a>
							</div>
						</div>
				</form>
			</div>
			</div>
			<!-- end of main body -->
		</main>
</div>

<script>
function retrieveArticles() {
		var url = 'approved-articles';

    	if ($('#journalId').val() != '') {
        url = url + '/' + $('#journalId').val();
    }

    $("#resultsBlock").load(url);	
}

function retrieveJournalIssues() {
		var url = 'getIssuesList';

    	if ($('#journalId').val() != '') {
        url = url + '/' + $('#journalId').val();
    }

    $("#jissueid").load(url);	
}

</script>

</body>
</html>
