<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

<body>
<div th:fragment = "header">
<!--=========== BEGIN HEADER SECTION ================-->
    <header id="header">
      <!-- BEGIN MENU -->
      <div class="menu_area">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style = "background-color: #047e96;">  
        <div class="container">
            <div class="navbar-header">
              <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- LOGO -->
              <!-- TEXT BASED LOGO -->
              <a class="navbar-brand" style ="margin-left: -74px;" th:href="@{/}">GhodaGhodi Campus <span>Research Management cell</span></a>              
              <!-- IMG BASED LOGO  -->
               <!-- <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="logo"></a>  -->            
                     
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
                 <li class="active"><a th:href="@{/}">Home</a></li> 
                 
                  <li class="dropdown hover">
                  <a class="dropdown-toggle"  role="button" >about us<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a th:href="@{/aboutus}">About Us</a></li>
                    <li><a th:href="@{/editorboard}" id = "oureditors">Editorial Board</a></li>
                    <li><a th:href="@{contact}">Contact</a></li>               
                  </ul>
                </li> 
                <li><a th:href="@{/alljournals}">Archives</a></li>  
                 <li><a th:href="@{/guidelines}">Author Guidelines</a></li>              
               
               <!--  <li><a href="register">Register</a></li> -->
               <li sec:authorize="hasRole('ROLE_ADMIN')">              	
				  <a th:href="@{/admin}">Admin Panel</a>			 
               </li>
               <li sec:authorize="hasRole('ROLE_EDITOR')">
              	<a th:href="@{/editor}">Editor Panel</a>					 
               </li>
               <li sec:authorize="hasRole('ROLE_AUTHOR')">              	
				  <a th:href="@{/author}">Author Dashboard</a>				 
               </li>
               <li th:if="${#authorization.expression('isAuthenticated()')}">
				 <a th:href="@{/logout}" class="btn btn-lg btn-primary" data-toggle="modal">Logout</a>
               </li>
               <li th:if="${#authorization.expression('not isAuthenticated()')}">
				 <a th:href="@{/login}" class="btn btn-lg btn-primary" data-toggle="modal">Login</a>
               </li>
              
              </ul>           
            </div><!--/.nav-collapse -->
          </div>     
        </nav>  
      </div>
      <!-- END MENU -->    
    </header>
    <!--=========== END HEADER SECTION ================--> 



</div>
</body>


<footer th:fragment = "footer">
    <!--=========== BEGIN FOOTER SECTION ================-->
    <footer id="footer">
      <!-- Start footer top area -->
      <div class="footer_top" style = "background-color: #047e96;">
        <div class="container" >
          <div class="row">
            <div class="col-ld-3  col-md-3 col-sm-3">
              <div class="single_footer_widget">
                <h3>About Us</h3>
                <p th:utext="${#strings.abbreviate(page.html,150)}"></p>
                <p ><a th:href="@{/aboutus}">Read more</a></p>
                </div>
            </div>
            <div class="col-ld-3  col-md-3 col-sm-3">
              <div class="single_footer_widget">
                <h3>Contact</h3>
                <p>Research Management Cell</p>
				<p>Ghodaghodi Multiple Campus, Kailali Nepal</p>
                <p> Cell Coordinator: Dipak Raj Joshi</p>
				<p class="fa fa-phone" style="font-size:20px"> 9848427754</p>
				
				<p class="fa fa-envelope-o">  editor.craiaj2019@gmail.com</p>
                
              </div>
            </div>
            
            <div class="col-ld-3  col-md-3 col-sm-3">
              <div class="single_footer_widget">
                <h3>Others</h3>
                <ul class="footer_widget_nav">
                  <li><a href="http://www.ghodaghodicampus.edu.np/" target="_blank">Ghodaghodi Multiple Campus</a></li>
                  <li><a href="https://tribhuvan-university.edu.np/" target="_blank">Tribhuwan University</a></li>
                  <li><a href="http://www.ugcnepal.edu.np/" target="_blank">University Grant Commission</a></li>
                  
                </ul>
              </div>
            </div>
            <div class="col-ld-3  col-md-3 col-sm-3">
              <div class="single_footer_widget">
                <h3>Social Links</h3>
                <ul class="footer_social">
                  <li><a data-toggle="tooltip" data-placement="top" title="Facebook" class="soc_tooltip" href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a data-toggle="tooltip" data-placement="top" title="Twitter" class="soc_tooltip"  href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a data-toggle="tooltip" data-placement="top" title="Google+" class="soc_tooltip"  href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a data-toggle="tooltip" data-placement="top" title="Linkedin" class="soc_tooltip"  href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a data-toggle="tooltip" data-placement="top" title="Youtube" class="soc_tooltip"  href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End footer top area -->

      <!-- Start footer bottom area -->
      <div class="footer_bottom">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="footer_bootomLeft">
                <p> Copyright &copy; All Rights Reserved</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End footer bottom area -->
    </footer>
    <!--=========== END FOOTER SECTION ================--> 

</footer>
</html>